<div *ngFor="let squestion of questiontopiclist;let i = index">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar style="background-image: url({{squestion.qphoto}});
            background-size: cover;"></div>
            <mat-card-title>{{squestion.quser}}</mat-card-title>
            <mat-card-subtitle>{{squestion.title}}</mat-card-subtitle>
            <mat-card-subtitle>{{squestion.body}} </mat-card-subtitle>
        </mat-card-header>
        <button class="button" (click)="showans(i)"><span>View answers</span></button>
        <button class="button" (click)="addAns(squestion.qid, i)"><span>Write answer</span></button>
        <mat-card-content>
            <div *ngIf="showVar[i]">
                <p>
                    <app-answerlist quesId={{squestion.qid}} [markbutton]=false></app-answerlist>
                </p>
            </div>
        </mat-card-content>
    </mat-card>
</div>


<br><br><br>